<!-- Navbar (sit on top) -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="$ctrl.closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<nav class="navbar navbar-inverse" id="navLMS">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ng-click="$ctrl.openNav()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
      <a class="navbar-brand" href="#" id="lineMenuNav" style="line-height: 0.9;">
        <span style="font-size: 12px;">LMS</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="lineMenuNav" style="line-height: 1.3;">
            <span style="font-size: 12px;">Classroom</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <span type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Search for Courses" style="font-size: 12px;border-radius: 0px;
        border: 0;" />
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> Sign Up</a></li>
        <li><a href="#"> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<ui-view></ui-view>
