.w3-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-text-light-grey,
.w3-hover-text-light-grey:hover,
.w3-text-light-gray,
.w3-hover-text-light-gray:hover {
  color: #f1f1f1!important;
}

.w3-xxlarge {
  font-size: 36px!important;
}

.w3-wide {
  letter-spacing: 4px;
}

.w3-button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.w3-padding-xlarge {
  padding: 16px 32px!important;
}

.w3-btn,
.w3-btn-floating,
.w3-btn-floating-large,
.w3-closenav,
.w3-opennav,
.w3-btn-block,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-button {
  color: #000;
  background-color: #f1f1f1;
  padding: 8px 16px;
}

.w3-btn,
.w3-btn-block,
.w3-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-container:after,
.w3-container:before,
.w3-panel:after,
.w3-panel:before,
.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,
.w3-cell-row:before,
.w3-cell-row:after,
.w3-topnav:after,
.w3-topnav:before,
.w3-clear:after,
.w3-clear:before,
.w3-btn-group:before,
.w3-btn-group:after,
.w3-btn-bar:before,
.w3-btn-bar:after,
.w3-bar:before,
.w3-bar:after {
  content: "";
  display: table;
  clear: both;
}

.w3-tooltip,
.w3-display-container {
  position: relative;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-black,
.w3-hover-black:hover {
  color: #fff!important;
  background-color: #000!important;
}

.w3-animate-opacity {
  -webkit-animation: opac 0.8s;
  animation: opac 0.8s;
}

.w3-padding-xlarge {
  padding: 16px 32px!important;
}

.w3-center {
  text-align: center!important;
}

.w3-xlarge {
  font-size: 24px!important;
}

.w3-wide {
  letter-spacing: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.w3-slim,
.w3-wide {
  font-family: "Segoe UI", Arial, sans-serif;
}

.w3-top {
  top: 0;
}

.w3-top,
.w3-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-container {
  padding: 0.01em 16px;
}

.w3-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}

.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #fff!important;
  background-color: #616161!important;
}

.w3-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}

.w3-center {
  text-align: center!important;
}

.w3-content {
  max-width: 980px;
  margin: auto;
}

.w3-bar .w3-button {
  background-color: inherit;
  color: inherit;
  white-space: normal;
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  background-color: inherit;
  color: inherit;
  width: auto;
  border: none;
  outline: none;
  display: block;
}

.w3-right {
  float: right!important;
}

@media (min-width: 993px) {
  .w3-hide-large {
    display: none!important;
  }
}

.w3-btn,
.w3-btn-floating,
.w3-dropnav a,
.w3-btn-floating-large,
.w3-btn-block,
.w3-navbar a,
.w3-navblock a,
.w3-sidenav a,
.w3-pagination li a,
.w3-hoverable tbody tr,
.w3-hoverable li,
.w3-accordion-content a,
.w3-dropdown-content a,
.w3-dropdown-click:hover,
.w3-dropdown-hover:hover,
.w3-opennav,
.w3-closenav,
.w3-closebtn,
*[class*="w3-hover-"] {
  -webkit-transition: background-color .25s, color .15s, box-shadow .25s, opacity 0.25s, filter 0.25s, border 0.15s;
  transition: background-color .25s, color .15s, box-shadow .15s, opacity .25s, filter .25s, border .15s;
}

.w3-opennav,
.w3-closenav {
  color: inherit;
}

.w3-btn,
.w3-btn-floating,
.w3-btn-floating-large,
.w3-closenav,
.w3-opennav,
.w3-btn-block,
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-button {
  color: #000;
  background-color: #f1f1f1;
  padding: 8px 16px;
}

.w3-btn,
.w3-btn-block,
.w3-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none!important;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

@media (min-width: 993px) {
  .w3-col.l3,
  .w3-quarter {
    width: 24.99999%;
  }
}

@media (min-width: 601px) {
  .w3-col.m3,
  .w3-quarter {
    width: 24.99999%;
  }
}

.w3-col.s12,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  width: 99.99999%;
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  float: left;
  width: 100%;
}

.w3-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}

.w3-content {
  max-width: 980px;
  margin: auto;
}

.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #fff!important;
  background-color: #616161!important;
}

.w3-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}

.w3-center {
  text-align: center!important;
}

.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

@media (min-width: 993px) {
  .w3-col.l3,
  .w3-quarter {
    width: 24.99999%;
  }
}

@media (min-width: 601px) {
  .w3-col.m3,
  .w3-quarter {
    width: 24.99999%;
  }
}

.w3-col.s12,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  width: 99.99999%;
}

.w3-col,
.w3-half,
.w3-third,
.w3-twothird,
.w3-threequarter,
.w3-quarter {
  float: left;
  width: 100%;
}

.w3-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important;
}

.w3-tooltip,
.w3-display-container {
  position: relative;
}


